[alias]
	logtree = log --graph --oneline --decorate --all --color
	st = status
	log = log --color
	co = checkout
	bt = branch
	br = branch
[user]
	name = Oleg Kosenkov
	email = oleg@kosenkov.ca
[core]
	editor = vim
[color]
	ui = true
